/* This is where styles are defined for your page. */
/* One style is provided as example. */
body{
  font-family:arial;
  background-image:url("images/sand.jpg");
  font-size:large;
}
header.page-header{
  /*background-color:lightpink;*/
  text-align:center;
}
.page-header h1{
  margin-bottom:0;
  padding-top:2em;
}
.page-header p{
  margin-top:0;
}
.page-header small{
  font-size:medium;
}
header.page-header img{
  width:150px;
  height:auto;
}
aside.more-info{
  padding-left:4em;
}
aside.more-info ul{
  list-style-type:none;
}
ul.info-links{
  float: left;
  padding-left: 5em;
  margin-top: 0;
}
ul.social-links{
  float: right;
  padding-right: 5em;
  margin-right: 43em;
  margin-top: 0;
}
section#content{
  /*background-color:lightgreen;*/
  text-align:center;
  clear:both;
  margin-top:4em;
  padding:
}
li::first-line{
  font-size:medium;
}
.poem{
  list-style-type:none;
  line-height:1.7;
}
footer.page-footer{
  /*background-color:lightcoral;*/
}