body{
  font-family:"source sans pro";
  background-image:url("images/sand.jpg");
  font-size:large;
}
header.page-header{
  text-align:center;
  border: 2px solid black;
  border-radius:25px;
  padding-bottom:2rem;
}
.page-header h1{
  margin-bottom:0;
  padding-top:2rem;
  font-size:3.5rem;
}
h1, h2{
  font-family:montserrat;
}
.page-header p{
  margin-top:0;
  font-size:0.9rem;
}
.page-header small{
  font-size:medium;
}
aside{
  border:2px solid  black;
  border-radius:25px;
}
.more-info img{
  width:225px;
  height:auto;
}
aside{
  float:right;
  padding:2rem;
}
/* Some styles to float the links
aside.more-info{
  padding-left:4em;
}
aside.more-info ul{
  list-style-type:none;
}
ul.info-links{
  float: left;
  padding-left: 5em;
  margin-top: 0;
  text-decoration:none;
}
ul.social-links{
  float: right;
  padding-right: 5em;
  margin-right: 43em;
  margin-top: 0;
  text-decoration:none;
}
ul a{
  text-decoration:none;
  color:#4d0000;
}
*/
section#content{
  text-align:left;
  margin-right: 50rem;
  margin-left: 2rem;
}
.poem{
  list-style-type:none;
  line-height:1.7;
  color:#800000;
  font-size:1.3rem;
  border:2px solid black;
  border-radius:25px;
}
.citation{
  margin-top: 4rem;
  text-align: left;
  margin-left: 3em;
}
footer.page-footer{
  margin-left: 3em;
  border:2px solid black;
  border-radius:25px;
}
